<button class="add-to-favorits"
        [ngClass]="{'active': active}"
        (click)="toggleFavorites($event)"
        title="Add to favorites">

      <ng-container [ngSwitch]="active">
            <ng-container *ngSwitchCase="true">
                  <img src="../../../../assets/icons/heart-white.svg">
            </ng-container>
            <ng-container *ngSwitchCase="false">
                  <img src="../../../../assets/icons/heart-red.svg">
            </ng-container>
      </ng-container>
</button>